@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: 'Roboto';
}



body {
	background: url('../textured-bgd.jpeg');
	margin-top: 0px;
}

#utilities-container button {
	margin: 14px;
	width: 200px;
	height: 100px;
}

.grow { transition: all .6s ease-in-out; }
.grow:hover { transform: scale(1.05); }

#utilities-container h4 {
	font-size: 35px;
}

#bottom-app {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 50px;
    right: 15px;
}

#main-content {
	margin-left: 20px;
}

#main-container-main {
	padding: 0px;
}

#utilities-container {
  overflow-y: scroll;
  min-height: calc(100vh - 50px);
  background-color: #BBDEFB;
  border-right: solid 0px black;
  left: 0px;
  top: 0px;
  bottom: 0px;
}


#sidebar-title {
	margin-top: 10px;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align: center;
	margin-right: 0px;
	background-color: #EEEEEE;
}


#header {
	top: 0px;
	width: 100%;
	margin-bottom: 35px;
	padding: 0px;
}


#eth-calc {
}


#usd-calc {
}

#dividends-calculator {
	padding-left: 40px;
}