@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: 'Roboto';
}


body {
	background: url('../textured-bgd.jpeg');
	margin-top: 0px;
	font-size: 100%;
}

.grow { transition: all .6s ease-in-out; }
.grow:hover { transform: scale(1.05); }


#header {
	top: 0px;
	width: 100%;
	margin-bottom: 35px;
	padding: 0px;
}

#bottom-navigation {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	background-color: #3949AB;
}