@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: 'Roboto';
}



body {
	background-color: #B3E5FC;
}

#calculators {
	margin-top: 30px;
	margin-left: 22%;
}



#eth-calc {
}

#usd-calc {
}

#dividends-calculator {
	padding-left: 40px;
}